* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000000;
    color: #fbfbfe;
}

#spotlight_wrapper {
    position: absolute;
    top: 23%;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
}

#spotlight {
    display: block;
    width: 720px;
    height: 70px;
    margin: auto;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0 25px 60px 10px rgba(0, 0, 0, 0.09);
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    font-size: 2.1rem;
    color: #ffffff;
    background-color: #42414d;
    background-position: left 17px center;
    background-repeat: no-repeat;
    background-size: 3.5%;
    padding: 0 52px;
    font-weight: 395;
}

#spotlight::placeholder {
    color: #c6c2c2;
}

#toggle_wrapper {
    max-width: 750px;
    display: block;
    margin: 100px auto;
}

.toggle {
    font-size: 20px;
    font-weight: 450;
    padding: 0 39px;
}

.toggle:hover {
    cursor: pointer;
}

.clicked {
    border-top-style: solid;
    border-width: medium;
    color: #1ed760;
    cursor: pointer;
    padding-top: 6px;
}

#recommend_wrapper {
    padding: 25px 20px;
    font-weight: 500;
    margin: 15% auto 0;
    width: 750px;
    font-size: 20px;
}

.recommend {
    /* text-align: justify; */
    padding: 12px 17px;
    display: flex;
}

.title {
    text-align: left;
    flex-basis: 95%;
    display: inline-block;
}

.artist {
    color: #c6c2c2;
    margin-left: 1rem;
}

.id {
    text-align: right;
    flex-basis: 20%;
}

.spinner {
    display: block;
    position: absolute;
    top: 36%;
    left: 47%;
    width: 80px;
    height: 80px;
}

.spinner div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #1ed760;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.spinner div:nth-child(1) {
    left: 8px;
    animation: spinner1 0.6s infinite;
}

.spinner div:nth-child(2) {
    left: 8px;
    animation: spinner2 0.6s infinite;
}

.spinner div:nth-child(3) {
    left: 32px;
    animation: spinner2 0.6s infinite;
}

.spinner div:nth-child(4) {
    left: 56px;
    animation: spinner3 0.6s infinite;
}

@keyframes spinner1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes spinner3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes spinner2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

img{
    width: 2rem;
    background-color: #1ed760;
    border-radius: 50%;
    padding-left: 0.25%;
}
img:hover{
    background-color: #fbfbfe;
    cursor: pointer;
}